<%= form_with(model: event_schedule) do |form| %>
  <% if event_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_schedule.errors.count, "error") %> prohibited this event_schedule from being saved:</h2>

      <ul>
        <% event_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.text_field :room_id %>
  </div>

  <div class="field">
    <%= form.label :time_block_id %>
    <%= form.text_field :time_block_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
