<p id="notice"><%= notice %></p>

<h1>Event Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Room</th>
      <th>Time block</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_schedules.each do |event_schedule| %>
      <tr>
        <td><%= event_schedule.event_id %></td>
        <td><%= event_schedule.room_id %></td>
        <td><%= event_schedule.time_block_id %></td>
        <td><%= event_schedule.date %></td>
        <td><%= link_to 'Show', event_schedule %></td>
        <td><%= link_to 'Edit', edit_event_schedule_path(event_schedule) %></td>
        <td><%= link_to 'Destroy', event_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Schedule', new_event_schedule_path %>
