<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_schedule.event_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @event_schedule.room_id %>
</p>

<p>
  <strong>Time block:</strong>
  <%= @event_schedule.time_block_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event_schedule.date %>
</p>

<%= link_to 'Edit', edit_event_schedule_path(@event_schedule) %> |
<%= link_to 'Back', event_schedules_path %>
