<%= form_with(model: participant_schedule) do |form| %>
  <% if participant_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant_schedule.errors.count, "error") %> prohibited this participant_schedule from being saved:</h2>

      <ul>
        <% participant_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.text_field :participant_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
