<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @participant_schedule.participant_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @participant_schedule.event_id %>
</p>

<%= link_to 'Edit', edit_participant_schedule_path(@participant_schedule) %> |
<%= link_to 'Back', participant_schedules_path %>
