<html>
  <body>
    <link rel="indexstyle" href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <p id="notice"><%= notice %></p>  


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Brandeis Schedule</h1>
      <p class="lead">Create a weekly schedule for your time at Brandeis</p>
    </div>
    <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
      
        <div class="carousel-item active">
          <!-- For each post in the array, give it a class of "col-4" which is 3 per row-->
          <!-- If posts.count = 4, last array will be [post4, nil, nil] so if it's nil, don't do anything or you'll get an error-->
          <%= link_to Calendar.new(EventSchedule.all).get_today.first do %>
            <img class="d-block w-100" src="/assets/shapiro.jpg" alt="First slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.first.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.first.description.html_safe, length: 100%></p>
          </div>


        </div>

        <div class="carousel-item">
          <%= link_to Calendar.new(EventSchedule.all).get_today.second do %>
            <img class="d-block w-100" src="/assets/usdan.jpg" alt="Second slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.second.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.second.description.html_safe, length: 100%></p>
          </div>
        </div>
        <div class="carousel-item">
          <%= link_to Calendar.new(EventSchedule.all).get_today.third do %>
            <img class="d-block w-100" src="/assets/upusdan.jpg" alt="Third slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.third.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.third.description.html_safe, length: 100%></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>

  
    <div class="container">
    <div class="module module--beige">
    <div class="wrap">
    <div class="module__container">
    <h2 class="module__title module__title--alt">Upcoming Event</h2>
      <div class="row">
       <% if logged_in? %>
        <% if is_organizer? %>
        <% Calendar.new(EventSchedule.all).find_available_rooms(Date.today, Time.now, Time.now).first(4).each do |room| %>
        <div class="col">
          <div class="card" id="minicard" >
            <div class="card-body">
              <h5 class="card__header">
                <div class="card__meta"><%= room.location %></div>
              </h5>
              <%= link_to room.name, room%>
              <div class="card__meta"><% room.capacity %></div>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
        <% else %>
          <% Calendar.new(EventSchedule.all).get_next_event.first(4).each do |event| %>
          <% event = event.event%>
        <div class="col">
          <div class="card" id="minicard" >
            <div class="card-body">
              <h5 class="card__header">
                <div class="card__meta"><%= event.event_schedules.first.date %></div>
              </h5>
              <div class="card__meta"><%= link_to event.name, event %></div>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    </div>
    </div>
    </div>

    

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <% if logged_in? %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">My Upcoming Event</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).get_current_event.each do |event| %>
                <% event = event.event%>
                <h3 class="card-title pricing-card-title"><%= link_to event.name, event %></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Organizer: <%= event.organizer.name %></li>
                  <li>Location: <%= event.room.name.html_safe %></li>
                  <li>Capcity: 80/100</li>
                  <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                  <li>Learn More</li>
                </ul>
              <%end %>
            </div>
          </div>
          <% if is_organizer? %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Room Reservation</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).find_available_rooms(Date.today, Time.now, Time.now).first(5).each do |room| %>
                <h3 class="card-title pricing-card-title"><%= link_to room.name, room %></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Location: <%= room.location.html_safe %></li>
                  <li>Capacity: <%= room.capacity %></li>
                  <li>Provided Supplies: charger, projector, white board</li>
                </ul>
              <% end %>
            </div>
          </div>
          <% else %>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Happening Event</h4>
              </div>
              <div class="card-body">
                <% Calendar.new(EventSchedule.all).get_next_event.each do |event| %>
                  <% event = event.event%>
                  <h3 class="card-title pricing-card-title"><%= link_to event.name, event %></h3>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Organizer: <%= event.organizer.name %></li>
                    <li>Location: <%= event.room.name.html_safe %></li>
                    <li>Capcity: 80/100</li>
                    <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                    <li>Learn More</li>
                  </ul>
                  <% if current_user.events.where(id:event.id).empty? %>
                    <%= button_to "Add to My Schedule", add_participants_path, method: :post, params: { event_id: event.id }, class:"btn float-right login_btn"%>
                  <% else %>
                    <div> Attending</div>
                  <% end %>
                <%end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Current Event</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).get_current_event.each do |event| %>
                <% event = event.event%>
                <h3 class="card-title pricing-card-title"><%= link_to event.name, event %></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Organizer: <%= event.organizer.name %></li>
                  <li>Location: <%= event.room.name.html_safe %></li>
                  <li>Capcity: 80/100</li>
                  <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                  <li>Learn More</li>
                </ul>
              <%end %>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Room Reservation</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).find_available_rooms(Date.today, Time.now, Time.now).first(5).each do |room| %>
                <h3 class="card-title pricing-card-title"><%= link_to room.name, room %></h3>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Location: <%= room.location.html_safe %></li>
                  <li>Capacity: <%= room.capacity %></li>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  
    

    
    </body>
  <style>
    
    a{
          color: 00295E;
          text-decoration:none; 
      }
      a:hover{
          background-color:transparent;
          color:#003478;
          text-decoration:none;
      }
    body {
      background-color: #f5f4f0;
      font-family: Georgia, serif;
    }
    h1   {
      color: 00295E;
      font-family: Georgia, serif
    }
    p    {
      color: 264653;
      font-family: Georgia, serif
    }
    .carousel .carousel-item {
      height: 500px;
    }

    .carousel p{
      font-size: 25px;
      line-height: 30px;
    }

    .carousel h1{
      /* font-size: 60px; */
      line-height: 60px;
    }

    .carousel-item img {
        position: absolute;
        object-fit:cover;
        top: 0;
        left: 0;
        min-height: 500px;
        filter: brightness(80%);
    }
    .card {
          border: none;
          border-radius: 10px;
      }

    .card-header{
      border: none;
          border-radius: 10px
    }

  #minicard{
    border-radius: 0px;
    border: none;
    height: 200px;

  }  
  
  #carouselExampleIndicators {
      padding: 0.5rem;
      margin-bottom: 1rem;
  }

  .login_btn{
  color: white;
  background-color: #003478;
  }

  .login_btn:hover{
  color: black;
  background-color: white;
  }

  #caption{
    color:white;
  }

  .carousel-control-prev:hover{
    background-color:transparent;
  }

  .carousel-control-next:hover{
    background-color:transparent;
  }

  .module {
    padding-top: 5rem;
    padding-bottom:5rem
}

.module > :first-child {
    margin-top:0
}

.module > :last-child {
    margin-bottom:0
}

.module.triangle-tab {
    padding-top:6.25rem
}

.module--tight {
    padding-top: 2.5rem;
    padding-bottom:2.5rem
}

@media (min-width: 64.0625em) {
    .module--tight {
        padding-top: 5rem;
        padding-bottom:5rem
    }
}

.module--tight.triangle-tab {
    padding-top:3.75rem
}

@media (min-width: 64.0625em) {
    .module--tight.triangle-tab {
        padding-top:6.25rem
    }
}

.module--tight-alt {
    padding-top: 2.5rem;
    padding-bottom:2.5rem
}

@media (min-width: 64.0625em) {
    .module--tight-alt {
        padding-top: 3.25rem;
        padding-bottom:3.25rem
    }
}

.module--beige {
    background:#f5f4f0
}

.module--gray-light {
    background:#f5f5f5
}

.module--gray-dark {
    background: #58595b;
    color:#fff
}

.module--gray-dark .module__title {
    color:#fff
}

.module--blue {
    background: #003478;
    color:#fff
}

.module--blue .module__title {
    color:#fff
}

.module--shadow {
    box-shadow: 0 0 .375rem rgba(0, 0, 0, .125);
    z-index:1
}

.module--relative, .module--shadow {
    position:relative
}

.module__container > :first-child {
    margin-top:0
}

.module__container > :last-child {
    margin-bottom:0
}

.module__container p.caption:nth-of-type(3), .module__container p:nth-of-type(3).p--sans-serif {
    margin-top:-1rem
}

.module__container__link {
    display:block
}

.module__container__link:focus {
    outline: .125rem solid #4d90fe;
    outline-offset:0
}

.module__title {
    margin-bottom: 2.5rem;
    text-align:center
}

.module__title--alt {
    font-weight:500
}

.module__subtitle {
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    text-align:center
}



.card {
    padding:1.25rem 1.25rem 2.5rem
}

.card, .card--alt {
    background: #fff;
    color: #58595b;
    font-family:Whitney SSm A, Whitney SSm B, sans-serif
}

.card--alt {
    padding:1.25rem 0
}

.card__header {
    margin-bottom: 1.25rem;
    padding-bottom: .25rem;
    border-bottom:.25rem solid #58595b
}

.card__meta {
    font-weight: 600;
    font-size: .75rem;
    text-transform:uppercase
}

.wrap {
    max-width: 90rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left:1rem
}

.wrap:after, .wrap:before {
    display: table;
    width: 0;
    content: ""
}

.wrap:after {
    clear:both
}

@media (min-width: 48em) {
    .wrap {
        padding-right: 2rem;
        padding-left:2rem
    }
}

@media (min-width: 64.0625em) {
    .wrap {
        padding-right: 3rem;
        padding-left:3rem
    }
}

.wrap--wide {
    max-width:96rem
}

.wrap--narrow {
    max-width:70rem
}

.wrap--slim {
    max-width:58rem
}

.wrap--relative {
    position:relative
}


  </style>
</html>
