<html>
  <body>
    <link rel="indexstyle" href="index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <p id="notice"><%= notice %></p>  


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Brandeis Schedule</h1>
      <p class="lead">Create a weekly schedule for your time at Brandeis</p>
    </div>
    <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
      
        <div class="carousel-item active">
          <!-- For each post in the array, give it a class of "col-4" which is 3 per row-->
          <!-- If posts.count = 4, last array will be [post4, nil, nil] so if it's nil, don't do anything or you'll get an error-->
          <%= link_to Calendar.new(EventSchedule.all).get_today.first do %>
            <img class="d-block w-100" src="/assets/shapiro.jpg" alt="First slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.first.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.first.description.html_safe, length: 100%></p>
          </div>


        </div>

        <div class="carousel-item">
          <%= link_to Calendar.new(EventSchedule.all).get_today.second do %>
            <img class="d-block w-100" src="/assets/usdan.jpg" alt="Second slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.second.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.second.description.html_safe, length: 100%></p>
          </div>
        </div>
        <div class="carousel-item">
          <%= link_to Calendar.new(EventSchedule.all).get_today.third do %>
            <img class="d-block w-100" src="/assets/upusdan.jpg" alt="Third slide">        
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h1 id="caption"><%= Calendar.new(EventSchedule.all).get_today.third.name%></h1>
            <p id="caption"><%= truncate Calendar.new(EventSchedule.all).get_today.third.description.html_safe, length: 100%></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>

    
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <% if logged_in? %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">My Upcoming Event</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).get_current_event.each do |event| %>
                <% event = event.event%>
                <h1 class="card-title pricing-card-title"><%= event.name %></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Organizer: <%= event.organizer.name %></li>
                  <li>Location: <%= event.room.name %></li>
                  <li>Capcity: 80/100</li>
                  <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                  <li>Learn More</li>
                </ul>
              <%end %>
            </div>
          </div>
          <% if is_organizer? %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Room Reservation</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).find_available_rooms(Date.today, Time.now, Time.now).each do |room| %>
                <h1 class="card-title pricing-card-title"><%= room.name %></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Location: <%= room.location %></li>
                  <li>Capacity: <%= room.capacity %></li>
                  <li>Provided Supplies: charger, projector, white board</li>
                </ul>
              <% end %>
            </div>
          </div>
          <% else %>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Happening Event</h4>
              </div>
              <div class="card-body">
                <% Calendar.new(EventSchedule.all).get_next_event.each do |event| %>
                  <% event = event.event%>
                  <h1 class="card-title pricing-card-title"><%= event.name %></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Organizer: <%= event.organizer.name %></li>
                    <li>Location: <%= event.room.name %></li>
                    <li>Capcity: 80/100</li>
                    <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                    <li>Learn More</li>
                  </ul>
                  <% if current_user.events.where(id:event.id).empty? %>
                    <%= button_to "Add to My Schedule", add_participants_path, method: :post, params: { event_id: event.id }, class:"btn float-right login_btn"%>
                  <% else %>
                    <div> Attending</div>
                  <% end %>
                <%end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Current Event</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).get_current_event.each do |event| %>
                <% event = event.event%>
                <h1 class="card-title pricing-card-title"><%= event.name %></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Organizer: <%= event.organizer.name %></li>
                  <li>Location: <%= event.room.name %></li>
                  <li>Capcity: 80/100</li>
                  <li>Time: <%= event.time_blocks.first.start_time %> - <%= event.time_blocks.last.end_time %></li>
                  <li>Learn More</li>
                </ul>
              <%end %>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Room Reservation</h4>
            </div>
            <div class="card-body">
              <% Calendar.new(EventSchedule.all).find_available_rooms(Date.today, Time.now, Time.now).each do |room| %>
                <h1 class="card-title pricing-card-title"><%= room.name %></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Location: <%= room.location %></li>
                  <li>Capacity: <%= room.capacity %></li>
                  <li>Provided Supplies: charger, projector, white board</li>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    </body>
  <style>
    
    body {
      background-color: #f5f4f0;
      font-family: Georgia, serif;
    }
    h1   {
      color: 00295E;
      font-family: Georgia, serif
    }
    p    {
      color: 264653;
      font-family: Georgia, serif
    }
    .carousel .carousel-item {
      height: 500px;
    }

    .carousel p{
      font-size: 25px;
      line-height: 30px;
    }

    .carousel h1{
      font-size: 60px;
      line-height: 60px;
    }

    .carousel-item img {
        position: absolute;
        object-fit:cover;
        top: 0;
        left: 0;
        min-height: 500px;
    }
    .card {
          border: none;
          border-radius: 10px
      }

    .card-header{
      border: none;
          border-radius: 10px
    }
  #carouselExampleIndicators {
      padding: 0.5rem;
      margin-bottom: 1rem;
  }

  .login_btn{
  color: white;
  background-color: #003478;
  }

  .login_btn:hover{
  color: black;
  background-color: white;
  }

  #caption{
    color:white;
  }

  .carousel-control-prev:hover{
    background-color:transparent;
  }

  .carousel-control-next:hover{
    background-color:transparent;
  }

  </style>
</html>
