<div class="container">
  <p id="notice"><%= notice %></p>  
  <h1> Today's Event</h1>
    <!-- Creates a loop of @posts.count / 3 arrays -->
    <% Calendar.new(EventSchedule.where(event_id: @events.ids)).get_today.in_groups_of(3).each do |event_array| %>
    <div class="row">
        <!-- For each post in the array, give it a class of "col-4" which is 3 per row-->
        <% event_array.each do |event| %>
        <!-- If posts.count = 4, last array will be [post4, nil, nil] so if it's nil, don't do anything or you'll get an error-->
        <%  unless event.nil? %>
        <div class="col-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <%# <div class="ms-2 c-details">
                            <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                        </div> %>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0"><%= link_to event.organizer.name, event.organizer, class:"link" %></h6> <span>1 days ago</span>
                        </div>
                    </div>
                    <%# <div class="badge"> <span>Design</span> </div> %>
                </div>
                <div class="mt-5">
                    <h3 class="heading"><%= link_to event.name, event, class:"link" %></h3>
                    <details>
                      <summary>Learn More</summary>
                        <p><%= event.description %></p>
                    </details>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= event.participants.size%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="30"></div>
                        </div>
                        <div class="mt-3"> <span class="text1"><%= event.participants.size%> Participants <span class="text2">of 30 capacity</span></span> </div>
                    </div>
                </div>
                <% if logged_in?%>
                    <% if is_organizer? %>
                        <% if !current_user.events.where(id:event.id).empty? %>
                            <div> My Event</div>
                        <% end %>
                    <% else %>
                        <% if current_user.events.where(id:event.id).empty? %>
                            <div class="mt-3"><%= button_to "Add to My Schedule", add_participants_path, method: :post, params: { event_id: event.id }, class:"btn float-right login_btn"%></div>
                        <% else %>
                            <div class="mt-3" id="attendence"> Attending</div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <br>
        </div>
        <!-- Ends the "unless post.nil" block -->
        <% end %>
        <!-- Ends the "post_array.each" block -->
        <% end %>
    </div>
    <!-- Ends the "@posts.in_groups_of" block -->
    <% end %>

    <h1> Future Event</h1>
    <!-- Creates a loop of @posts.count / 3 arrays -->
    <% Calendar.new(EventSchedule.where(event_id: @events.ids)).get_future.in_groups_of(3).each do |event_array| %>
    <div class="row">
        <!-- For each post in the array, give it a class of "col-4" which is 3 per row-->
        <% event_array.each do |event| %>
        <!-- If posts.count = 4, last array will be [post4, nil, nil] so if it's nil, don't do anything or you'll get an error-->
        <%  unless event.nil? %>
        <div class="col-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <%# <div class="ms-2 c-details">
                            <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                        </div> %>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0"><%= link_to event.organizer.name, event.organizer, class:"link" %></h6> <span>1 days ago</span>
                        </div>
                    </div>
                    <%# <div class="badge"> <span>Design</span> </div> %>
                </div>
                <div class="mt-5">
                    <h3 class="heading"><%= link_to event.name, event, class:"link" %></h3>
                    <details>
                      <summary>Learn More</summary>
                        <p><%= event.description %></p>
                    </details>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= event.participants.size%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="30"></div>
                        </div>
                        <div class="mt-3"> <span class="text1"><%= event.participants.size%> Participants <span class="text2">of 30 capacity</span></span> </div>
                    </div>
                </div>
                <% if logged_in?%>
                    <% if is_organizer? %>
                        <% if !current_user.events.where(id:event.id).empty? %>
                            <div> My Event</div>
                        <% end %>
                    <% else %>
                        <% if current_user.events.where(id:event.id).empty? %>
                            <div class="mt-3"><%= button_to "Add to My Schedule", add_participants_path, method: :post, params: { event_id: event.id }, class:"btn float-right login_btn"%></div>
                        <% else %>
                            <div class="mt-3"> Attending</div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <br>
        </div>
        <!-- Ends the "unless post.nil" block -->
        <% end %>
        <!-- Ends the "post_array.each" block -->
        <% end %>
    </div>
    <!-- Ends the "@posts.in_groups_of" block -->
    <% end %>
    <style>
      body {
          background-color: #eee
      }

      .card {
          border: none;
          border-radius: 10px
      }

      .c-details span {
          font-weight: 300;
          font-size: 13px
      }

      .icon {
          width: 50px;
          height: 50px;
          background-color: #eee;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 39px
      }

      .badge span {
          background-color: #fffbec;
          width: 60px;
          height: 25px;
          padding-bottom: 3px;
          border-radius: 5px;
          display: flex;
          color: #fed85d;
          justify-content: center;
          align-items: center
      }

      .progress {
          height: 10px;
          border-radius: 10px
      }

      .progress div {
          background-color: 003478
      }

      .text1 {
          font-size: 14px;
          font-weight: 600
      }

      .text2 {
          color: #a5aec0;
      }

      .link{
          color: black;
          text-decoration:none; 
      }
      .link:hover{
          background-color:transparent;
          color:#003478;
      }

      .login_btn{
        color: white;
        background-color: #003478;
        }

        .login_btn:hover{
        color: black;
        background-color: white;
        }
     
        #attendence{
            color:#003478;
            font-weight:700;
            margin-left: auto; 
        margin-right: 0;
        }
    </style>
</div>