<style>
    body {background-color: 145374;}
    h1   {color: black;}
    p    {color: black;}
    .card {background-color:F6F5F5}
    .card {color:00334E}

</style>
<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
  <% @events.each do |event| %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <p class="card-text"><%= event.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Organizer: <%= event.organizer_id %></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link"><%= link_to 'Show', event %></a>
          <a href="#" class="card-link"><%= link_to 'Edit', edit_event_path(event) %></a>
          <a href="#" class="card-link"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
