<% provide(:title, "Events") %>
<html>
  <div class="container mt-4">
      <div class="row d-flex justify-content-center">
      <%= form_tag(do_search_events_path, method: "get", class: "form") do %>
          <div class="row">
              <div class="card p-3 py-2">
                  <%# <h5>Filters</h5> %>
                  <div class="row g-1 mt-1">
                      <div class="col pt-2">
                        <%= select_tag(:room,
                        options_for_select(get_room_list), class: "form-control-lg") %>  
                      </div>
                      <div class="col pt-2">
                        <%= select_tag(:org,
                        options_for_select(get_organizer_list), class: "form-control-lg") %>     
                      </div>
                      <div class="col pt-2">
                      <span class="datetime"> <%= date_select( :event_date, :date, :start_year => Date.current.year, :end_year => Date.current.year + 1)%></span>
                        
                      </div>
                      <%# <input type="date" id="start" name="trip-start"
                              value="2021-07-22"
                              min="2020-01-01" max="2022-12-31"> %>
                      <%# <div class="col-md-2">
                          <div class="dropdown"> <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> Any Status </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <li><a class="dropdown-item" href="#">Rural</a></li>
                                  <li><a class="dropdown-item" href="#">Urban</a></li>
                                  <li><a class="dropdown-item" href="#">All</a></li>
                              </ul>
                          </div>
                      </div> %>
                  </div>
                  <div class="row g-1 mt-1">
                      <div class="d-flex justify-content-center px-2 col-md-7">
                        <%= text_field_tag(:name, "", class: "form-control-lg", placeholder: "Enter your interested event") %>
                        <%= button_tag( :class => "button_green") do %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        <% end %>
                      </div>
                  </div>
              </div>
          </div>
          <% end %>
          <% if logged_in? %>
            <% if is_organizer? %>
              <%= button_to "New Event", search_available_rooms_path, method: :get %>
            <% end %>
          <% end %>
          <%= render "index" %>
      </div>
  </div>

  

  
</html>