<html>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description.html_safe %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= link_to @event.organizer.name, @event.organizer %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @event.room.name, @event.room %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.event_schedules.first.date %>
  <%= @event.time_blocks.first.start_time %> - <%= @event.time_blocks.last.end_time %>
</p>

<% if logged_in?%>
  <% if is_organizer? %>
  <% else %>
    <% if current_user.events.where(id:@event.id).empty? %>
      <%= button_to "Add to My Schedule", add_participants_path, method: :post, params: { event_id: @event.id }, class:"btn float-right login_btn"%>
    <% else %>
      <div> Attending</div>
      <%= button_to "Remove from My Schedule", remove_participants_path, method: :post, params: { event_id: @event.id }, class:"btn float-right login_btn"%>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'All Events', events_path %>|
<%= link_to 'Room', @event.room %>

<p>
  <strong>Participants:</strong>
  <%= @event.participants.size %>
</p>
<style>
      body {
          background-color: #eee
      }
      
      .link{
          color: black;
          text-decoration:none; 
      }
      .link:hover{
          background-color:transparent;
          color:#003478;
      }

      .login_btn{
        color: white;
        background-color: #003478;
        }

        .login_btn:hover{
        color: black;
        background-color: white;
        }
     

    </style>
  </html>