<%= form_tag(do_search_rooms_path, method: "get", class: "form") do %>
  <div class="row tbalign-items-centerp-2">
    <div class="col-sm-8">
    <div class="row g-1 mt-1">
    `<div class="col">
        <%= select_tag(:location, options_for_select(get_location_list), class: "form-control-lg") %>
      </div>
      <div class="col">
        <%= text_field_tag(:name, "", class: "form-control-sm", placeholder: "search for") %>
      </div>
      <div class="col-sm-8">
        <%= button_tag( :class => "button_green") do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <% end %>
      </div>
    </div>
    </div>
  </div>
<% end %>
<% if logged_in? %>
  <% if is_organizer? %>
    <%= button_to "Find a room", search_available_rooms_path, method: :get %>
  <% end %>
<% end %>
<%= render "index" %>