<html>
<div class="container mt-4">
      <div class="row d-flex justify-content-center">
  <%= form_tag(do_search_available_rooms_path, method: "get", class: "form") do %>
  <div class="row">
    <div class="card p-3 py-2">
                  <%# <h5>Filters</h5> %>
                  <div class="row g-1 mt-1">
    <div class="row tbalign-items-centerp-2">
      <div class="col-sm-10">
      <div class="row">
      <div class="col pt-2">
        Day
        <%= date_select(:event_date, :date, :start_year => Date.current.year, :end_year => Date.current.year + 10) %>      
      </div>
      <div class="col pt-2">
        Time
        <%= time_select(:time, :start_time, {minute_step: 30}, html_options: { class: 'form-control' })%>
        -
        <%= time_select(:time, :end_time, {minute_step: 30}, html_options: { class: 'form-control' })%>         </div>
      <div class="col">
        <%= submit_tag("Find Available Room", class: "btn float-right login_btn") %>  
      </div>
    </div>
    </div>
    </div>
    </div>
  <% end %>
  </div>
  </div>


<%= button_to "Back", search_rooms_path, method: :get%>
<%= render "index",params:{event_date: params[:event_date], time: params[:time]} %>
<style>
  .form-control{
    width: 50px
  }
  
</style>
</html>